<div class="row">
  <div class="col-sm-12">
    <h2>
      Hello : {{title}}
    </h2>
    <hr>
    <p>
      {{ message }}
    </p>
  </div>
  <div class="col-sm-8">
    <table class="table  table-striped  table-hover">
      <thead class="thead-dark">
        <th>id</th>
        <th>Name</th>
        <th>City</th>
        <th>Age (Age>=33)</th>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers"  (mouseover)="selectCustomer(customer)" >
          <td><b>{{customer.id}} </b></td>
          <td><b>{{customer.name}} </b></td>
          <td><b>{{customer.city}}</b></td>
          <td *ngIf="customer.age>=33; else ageBlock">
            <b>{{customer.age}}</b>
          </td>
          <ng-template #ageBlock>
              <td><b>  - - -</b></td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-fluid"></div>
  <div class="col-sm-2">
    <h3 *ngIf="selectedCustomer; else selectBlock">
      <span class="badge badge-info">id : {{selectedCustomer.id}}</span>
      <span class="badge badge-info">name : {{selectedCustomer.name}}</span>
      <span class="badge badge-info">city : {{selectedCustomer.city}} </span>
      <span class="badge badge-info">age : {{selectedCustomer.age}} </span>
    </h3>
  
    <ng-template #selectBlock>
      <h3><span class="badge badge-danger">Result : Gösterilecek Data Yok</span></h3>
    </ng-template>
  </div>
</div>
